<div class="container pt-2">
  <button class="btn btn-sm btn-success" (click)="openModal('create')">Create Task</button>
  <hr>
  <div class="card" *ngFor="let task of tasks$ | async">
    <div class="card-body">
      <h5 class="card-title">{{task.title}}</h5>
      <p class="card-text">{{task.description}}</p>
      <button class="btn btn-sm btn-primary me-2" (click)="openModal('edit', task)">Edit</button>
      <button class="btn btn-sm btn-danger" (click)="deleteTask(task.id)">Delete</button>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#taskModal" id="taskModalBtn" hidden></button>

<!-- Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" placeholder="Task description..." formControlName="description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" aria-label="Close" (click)="onSaveClick()" [disabled]="this.taskForm.invalid">Save</button>
      </div>
    </div>
  </div>
</div>